html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(#6fe495, #20a96a);
    -webkit-transition: background 0.4s ease;
    -moz-transition: background 0.4s ease;
    -o-transition: background 0.4s ease;
    transition: background 0.4s ease;
}

header {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.2rem;
}

.icon {
    display: inline-block;
    width: 6rem;
    height: 6rem;
    line-height: 7rem;
    overflow: hidden;
    font-size: 4rem;
    border-radius: 50%;
    border: 0.7rem solid #e4f9f0;
    color: #e4f9f0;
}

.icon:hover {
    color: #fff;
    cursor: pointer;
}

h2 {
    color: #e4f9f0;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    display: inline-block;
    width: 170px;
    text-align: center;
    padding: 5px 0;
    color: #e4f9f0;
    background: rgba(228, 249, 240, 0.2);
    text-decoration: none;
    border-radius: 10px;
    line-height: 2.1rem;
}

nav a:first-child {
    margin-right: 15px;
}

nav a:hover {
    text-decoration: underline;
    color: #fff;
    background: rgba(228, 249, 240, 0.3);
}

.data-readings {
    padding: 15px;
    text-align: center;
}

.title {
    font-size: 2rem;
    color: #e4f9f0;
    text-decoration: underline;
}

.bubble {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    border-radius: 50%;
    border: 0.2rem solid #e4f9f0;
    color: #e4f9f0;
    text-align: center;
    line-height: 1.5rem;
    vertical-align: middle;
}

.data-icon {
    font-size: 2rem;
    margin: 10px 0;
}

.reading {
    font-weight: bold;
    font-size: 0.9rem;
}

.predictions {
    text-align: center;
    padding-top: 15px;
}

.predictions-container {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 5px;
    width: 85%;
    margin: 0 auto;
    border-radius: 10px;
}

.data-links {
    text-align: center;
    margin-top: 10px;
}

.data-links a {
    display: inline-block;
    width: 170px;
    text-align: center;
    padding: 5px 0;
    color: #e4f9f0;
    background: rgba(0, 0, 0, 0.2);
    text-decoration: none;
    border-radius: 10px;
    line-height: 2.1rem;
    font-size: 0.7rem;
}

.data-links a:hover {
    background: rgba(255, 255, 255, 0.2);
    text-decoration: underline;
}