<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><%= title %></title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body style="background:#d7cec7;">
	<nav style="background:#fff;">
		<div class="nav-wrapper container">
			<ul id="nav-mobile" class="right">
				<li><a href="/" class="waves-effect real-time-btn" style="color:#c09f80;">Real-Time</a></li>
				<li><a href="/history" class="waves-effect historic-data-btn" style="color:#c09f80;">Historic Data</a></li>
			</ul>
		</div>
	</nav>
	
	<div class="container">
		<h3>Historic Data</h3>
		<canvas id="historicDataChart" width="800" height="800"></canvas>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="/javascripts/chart.js"></script>
	<script src="/javascripts/history.js"></script>
</body>
</html>
