<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WeatherPi Project</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
</head>
<body>
    <header>
        <div class="icon">
            <ion-icon name="cloud"></ion-icon>
				</div>
				
				<div class="location">
					<h2 class="location-display">n/a</h2>
				</div>
    </header>

    <nav>
        <a href="/"><ion-icon name="pulse"></ion-icon>&nbsp;&nbsp;Live Data</a>
        <a href="/history"><ion-icon name="filing"></ion-icon>&nbsp;&nbsp;Historical Data</a>
		</nav>

    <section class="data-readings">

        <div class="temperature">
            <div class="title">Temperature</div>
            <div class="bubble">
                <div class="data-icon"><ion-icon name="thermometer"></ion-icon></div>
                <div class="reading temp-reading">n/a</div>
            </div>
        </div>

        <br>

        <div class="humidity">
            <div class="title">Humidity</div>
            <div class="bubble">
                <div class="data-icon"><ion-icon name="water"></ion-icon></div>
                <div class="reading hum-reading">n/a</div>
            </div>
        </div>

    </section>

    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/script.js"></script>
</body>
</html>